<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mb-4 post">
    <div class="col-md-2">
        <a id="create-post" class="create-post" href="/create">Create a new post</a> 
    </div>

    {{#if posts.length}}
    <div class="col-md-6 post-list">
        <h3>Current Posts:</h3>
        {{#each posts as |post|}}
        <div class="row mb-4 post">
            <div class="col-md-12">
                <h2> <span> ID: {{post.id}}</span> | Title: {{post.title}} </h2>
            </div>
            <div class="col-md-12">
                <p>
                {{post.content}}
                </p>
                <a id="edit-link" class="btn btn-primary" href="/thread/{{post.id}}">Edit Post</a>
                <button id="delete-btn" data-id="{{post.id}}" class="btn btn-danger">Delete Post</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="/js/deletePost.js"></script>