<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mb-4 post">
    <div class="col-md-2">
        <a id="create-post" class="create-post" href="/create">Create a new post</a> 
    </div>

    {{#if post.length}}
    <div class="col-md-6 project-list">
        <h3>Current Posts:</h3>
        {{#each posts as |post|}}
        <div class="row mb-4 post">
            <div class="col-md-8">
                <h2>
                <a href="/thread/{{post.id}}">{{post.title}}</a>
                </h2>
                <p>
                {{!-- Make class "post-info" small and in upper right corner of div --}}
                <span class="post-info" for="timestamp" aria-label="timestamp">By: {{post.username}} | {{post.date_created}}</span>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                {{post.content}}
                </p>
                <button id="edit-btn" class="btn btn-primary">Edit Post</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
<script src="/js/createPost.js"></script>