<form class="form edit-form">
    <div class="form-group">
        <span class="input-group-text" id="comment-id" data-id="{{id}}">{{id}}</span>
        <span class="input-group-text">Title</span>
        <textarea id="edit-title" class="form-control" aria-label="With textarea">{{title}}</textarea>
    </div>
    <div class="form-group">
        <span class="input-group-text">Content</span>
        <textarea id="edit-content" class="form-control" aria-label="With textarea">{{content}}</textarea>
    </div>
    <button id="edit-btn" class="btn btn-primary" data-id="{{id}}">Submit Edit</button>    
</form>

<script src="/js/editPost.js"></script>