
{{#each posts as |post|}}
<div class="container container-fluid mt-5" id="post-container">
  <div class="row mb-4 post-list card">
    <div class="col-md-12 card-header">
      <h2>
        <span class="post-id-title" data-id="{{post.id}}">{{post.title}}</span> 
      </h2>
      <p>
        <span class="post-info timestamp-info" for="timestamp" aria-label="timestamp">By: {{post.user.username}} | Posted On: {{post.date_created}}</span>
      </p>
    </div>
    <div class="col-md-12 py-3 card-body">
      <p>
        {{post.content}}
      </p>
      <a href="/reply/{{post.id}}" class="comment-link">See what others have said about this post and let the author know what you thought!</a>
    </div>
  </div>
</div>
{{/each}}
