<div class="container container-fluid text-center mt-4" id="post-info">
  <div class="row mb-2 post-list"></div>
      <div class="col-md-12">
        <h2>
          <span class="post-id-title" data-id="{{id}}">{{title}}</span> 
        </h2>
        <div class="col-md-12">
          <p>
            {{content}}
          </p>
        </div>
        <p>
          <span class="post-info" for="timestamp" aria-label="timestamp">By: {{user.username}} | {{date_created}}</span>
        </p>
      </div>
  </div>
</div>

<div class="container container-fluid mt-4">
  <form class="row mx-4 form reply-list">
      <div class="col-md-12 form-group">
          <span class="input-group-text">Reply</span>
          <textarea id="reply-content" class="mx-auto form-control" aria-label="With textarea"></textarea>
          <button id="reply-btn" class="btn btn-primary mb-4" data-id="{{id}}">Submit Reply</button>
      </div>
  </form>
</div>

<div class="container container-fluid" id="comment-container">
  <div class="row replies text-center my-2">
    <div class="col-md-12"><h4>User Comments:</h4></div>
  </div>
  <div class="row mb-2 reply-list">
    <div class="col-md-12">
  {{#each replies as |reply|}}
    <div class="col-md-12 reply-content mb-3">
      <p class="reply-text py-4">{{reply.content}}</p>
      <p>
        <span class="reply-info" for="timestamp" aria-label="timestamp">By: {{../user.username}} | {{reply.date_created}}</span>
      </p>
    </div>
  {{/each}}
  </div>
</div>

<script src="/js/replyPost.js"></script>